{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Сортировать по <a href="http://127.0.0.1:8000/catalog/?sort=name">по названию<a>
            <a href="http://127.0.0.1:8000/catalog/?sort=min_price">начиная с дешевых</a>
            <a href="http://127.0.0.1:8000/catalog/?sort=max_price">начиная с дорогих</a>
        </div>

        <div class="content">
            {% for phone in phones%}
            {{phone.name}}
            Стоимость, руб: {{phone.price}}
            <img src={{phone.image}}>
            {% endfor %}

        </div>
    </div>
{% endblock %}